sdm-disk/lib/SDM/DataSource/Disk.sqlite3n
sdm-disk/lib/SDM/DataSource/Disk.sqlite3n-bak
sdm-disk/lib/SDM/DataSource/Disk.sqlite3n-dump
sdm-disk/lib/SDM/DataSource/Disk.sqlite3n-dump-bak
sdm/lib/SDM/DataSource/Meta.sqlite3n
sdm/lib/SDM/DataSource/Meta.sqlite3n-dump
