Source: ur-sdm-web
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: perl,libur-perl,libdancer-perl
Maintainer: Matthew Callaway <mcallawa@genome.wustl.edu>
Standards-Version: 3.8.3

Package: ur-sdm-web
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, perl (>= 5.9.5),libur-perl,ur-web,libdancer-perl,ur-sdm-namespace
Description: A UR Object framework for running SDM web services
 UR Object framework for running SDM web services.
