#!/usr/bin/make -f

PACKAGE=$(shell dh_listpackages)

%:
	PATH="/bin:/usr/bin"
	dh $@

override_dh_strip:
override_dh_auto_test:
override_dh_auto_install:
	dh_auto_install
	install -d ./debian/$(PACKAGE)/etc/profile.d
	echo "export TNS_ADMIN=/gsc/pkg/oracle/10gR2/db_1/network/admin" > ./debian/$(PACKAGE)/etc/profile.d/tnsnames.sh
	install -d ./debian/$(PACKAGE)/usr/share/perl5/SDM/View/Resource
	cp -ap lib/SDM/View/Resource/Html ./debian/$(PACKAGE)/usr/share/perl5/SDM/View/Resource/Html
