Source: ur-sdm-lims
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: perl, libur-perl, libtest-simple-perl, libtest-output-perl
Maintainer: Matthew Callaway <mcallawa@genome.wustl.edu>
Standards-Version: 3.8.3
Homepage: http://search.cpan.org/dist/Object-Accessor/

Package: ur-sdm-lims
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, perl (>= 5.9.5), ur-sdm-namespace, libgenome-perl
Description: A UR Object framework for LIMS querying
 A UR Object framework for LIMS querying
