#!/usr/bin/make -f

PACKAGE=$(shell dh_listpackages)

%:
	PATH="/bin:/usr/bin" ; \
	dh $@

override_dh_auto_install:
	dh_auto_install
	install -d ./debian/$(PACKAGE)/usr/share/perl5/System/View/Resource/Html
	cp -ap lib/System/View/Resource/Html/* ./debian/$(PACKAGE)/usr/share/perl5/System/View/Resource/Html
