#!/usr/bin/make -f

unexport PERL_MM_OPT
unexport PERL_MB_OPT

%:
	PATH="/bin:/usr/bin"; \
	dh $@

override_dh_auto_test:
override_dh_auto_install:
	dh_auto_install
	install -d ./debian/$(PACKAGE)/usr/share/perl5/SDM/View/Resource
	cp -ap lib/SDM/View/Resource/Html ./debian/$(PACKAGE)/usr/share/perl5/SDM/View/Resource/Html
