#!/usr/bin/make -f

unexport PERL_MM_OPT
unexport PERL_MB_OPT

%:
	PATH="/bin:/usr/bin"; \
	/usr/bin/env dh $@

override_dh_auto_test:
override_dh_auto_install:
	dh_auto_install
	install -d ./debian/tmp/var/log/ur-sdm-service
	touch ./debian/tmp/var/log/ur-sdm-service/ur-sdm-service-lsofc.log
